#statusMessage {
  width: 100%;
  text-align: center;
  padding-top: 35px;

  h1 {
    font-size: 32px;
  }

  p {
    padding-top: 20px;
    font-style: italic;
    letter-spacing: 0.5px;
    color: #a8a8a8;
    padding-bottom: 10px;
  }

  #line {
    opacity: 0;
    background: #ECCED8;
    height: 2.5px;
    width: 300px;
    transition: all 0.5s ease-in;
    margin-left: auto;
    margin-right: auto;
  }
}
